<h1>Самые богатые люди  в истории</h1>

<img width="300" height = 250 src="https://kulturologia.ru/files/u17975/mansa1.jpg" alt="">
<h3>1. Манса Муса (≈ XIV век) — Император Мали</h3>
<p>
   <b>Состояние (оценка):</b>настолько огромное,
   что историки называют «беспрецедентным»,
   современные пересчёты — триллионы долларов.
</p>

<h4>Как разбоготел:</h4>

<ul>
    <li>правил богатейшей на тот момент державой Западной Африки</li>
    <li>контролировал крупнейшие в мире запасы золота и соли</li>
    <li>централизовал торговлю, усилил экономику через города Тимбукту и Гао</li>
    <li>стал легендарным после паломничества в Мекку, где щедрые раздачи золота даже повлияли на экономику регионов</li>
</ul>
<!-- ======================================================================================================= -->
<img width="300" height = 250 src="https://rus.team/images/article/6052/2019-05-23-277_17088-1_519089.webp" alt="">
<h3>2. Джон Д. Рокфеллер (1839–1937) — основатель Standard Oil</h3>
<p>
<b>Состояние (в пересчёте на сегодня)</b>: $400–500 млрд+
</p>

<h4>Как разбоготел:</h4>

<ul>
    <li>создал и монополизировал нефтяную индустрию США</li>
    <li>его компания Standard Oil контролировала до 90% нефтяного рынка</li>
    <li>внедрил массовое производство, логистику, жёсткую конкуренцию</li>
    <li>после разделения компании его капитал всё равно остался огромным</li>
    <li>стал крупнейшим филантропом своего времени</li>
</ul>
<!-- ======================================================================================================== -->
<img width="300" height = 250 src="https://rus.team/images/article/58626/2019-08-10-351_16775-3_908858.webp" alt="">
<h3>3. Эндрю Карнеги (1835–1919) — «стальной король» США</h3>
<p>
<b>Состояние (в пересчёте на сегодня)</b>: $300–400 млрд
</p>

<h4>Как разбоготел:</h4>

<ul>
    <li>иммигрировал в США бедным мальчиком</li>
    <li>построил крупнейшую в мире сталелитейную империю</li>
    <li>сделал революцию в строительстве, инфраструктуре и индустриализации США</li>
    <li>продал бизнес JP Morgan за рекордные деньги</li>
    <li>пожертвовал большую часть капитала на образование и библиотеки</li>
</ul>
